body { background-color: #202020 !important; font-family: 'Roboto Condensed', sans-serif; }
hr { border-top: 1px solid #202020 }
a { color: #F39C12 !important; text-decoration: none; }
blockquote { border-left: 5px solid #202020; }
i { color: #F39C12 !important; }
input[type=checkbox], input[type=radio] { margin: 4px -8px; }

#container { width: 90% }

.my-photo { float: left; margin-right: 10px }
.name { color: #F39C12; text-transform: uppercase }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { border-top: none }
.box-exp { background-color: #202020; text-align: center; margin-bottom: 10px; }
.box-exp h4 { color: #F39C12;  }
.linkedin { background-color: #202020; padding: 25px 10px 25px 15px; margin-right: 5px }
.github { background-color: #202020; padding: 25px 10px 25px 10px }
.linkedin:hover { background-color: #F39C12; }
.github:hover { background-color: #F39C12; }
.language { margin-right: 5px }
/*.language input { opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity = 0); }*/
/*.language input:checked + img { border: 2px solid #F39C12; padding: 5px; background-color: #202020 }*/
.language a { filter: grayscale(5) }
.language a:hover { filter: grayscale(0) !important; }
.language .checked { filter: grayscale(0) !important; }
.container { background-color: #303030; color: white }
.title { color: #F39C12; text-transform: uppercase; font-style: italic }
.media-objects { max-height: 50px; max-width: 50px; }
.back-tech { background-color: white; height: 70px; width: 70px; margin: 5px; display: inline-block; padding: 10px; line-height: 50px; }
.back-tech img { margin: auto }
.printable-notice { position: fixed; background-color: #F39C12; color: black; right: 0; top: 0; z-index: 99999; padding: 5px }

@media print {
    .box-exp { border: none; text-align: left; border-left: 3px solid gray; border-radius: 0; height: 200px; }
    .box-exp h4 { font-weight: bold }
    .page-break { page-break-before: always; }
    blockquote { border: none; border-left: 3px solid gray }
    a { color: black !important;     }
}